.venv
.dockerignore
app/.env

**/*.pyc
**/*.pyo
**/*.mo
.git/
**/__pycache__/
***/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
*/__pycache__/

db.sqlite3
**/*.md
app/.env
app/.env
.DS_Store
.venv
__pycache__
*.pyc
__pycache__/

.env

*.pyc
__pycache__/
.idea/
app/__pycache__/settings.cpython-311.pyc
app/__pycache__/urls.cpython-311.pyc
app/__pycache__/__init__.cpython-311.pyc
app/__pycache__/wsgi.cpython-311.pyc
app/__pycache__/**.*.pyc
*.pyc
app/**/*.pyc
app/__pycache__/urls.cpython-311.pyc

users/__pycache__/settings.cpython-311.pyc
users/__pycache__/urls.cpython-311.pyc
users/__pycache__/__init__.cpython-311.pyc
users/__pycache__/wsgi.cpython-311.pyc
users/__pycache__/**.*.pyc
*.pyc
users/**/*.pyc
users/__pycache__/urls.cpython-311.pyc


order/__pycache__/settings.cpython-311.pyc
order/__pycache__/urls.cpython-311.pyc
order/__pycache__/__init__.cpython-311.pyc
order/__pycache__/wsgi.cpython-311.pyc
order/__pycache__/**.*.pyc
*.pyc
order/**/*.pyc
order/__pycache__/urls.cpython-311.pyc

price/__pycache__/settings.cpython-311.pyc
price/__pycache__/urls.cpython-311.pyc
price/__pycache__/__init__.cpython-311.pyc
price/__pycache__/wsgi.cpython-311.pyc
price/__pycache__/**.*.pyc
*.pyc
price/**/*.pyc
price/__pycache__/urls.cpython-311.pyc


product/__pycache__/settings.cpython-311.pyc
product/__pycache__/urls.cpython-311.pyc
product/__pycache__/__init__.cpython-311.pyc
product/__pycache__/wsgi.cpython-311.pyc
product/__pycache__/**.*.pyc
*.pyc
product/**/*.pyc
product/__pycache__/urls.cpython-311.pyc


stock/__pycache__/settings.cpython-311.pyc
stock/__pycache__/urls.cpython-311.pyc
stock/__pycache__/__init__.cpython-311.pyc
stock/__pycache__/wsgi.cpython-311.pyc
stock/__pycache__/**.*.pyc
*.pyc
stock/**/*.pyc
stock/__pycache__/urls.cpython-311.pyc

store/__pycache__/settings.cpython-311.pyc
store/__pycache__/urls.cpython-311.pyc
store/__pycache__/__init__.cpython-311.pyc
store/__pycache__/wsgi.cpython-311.pyc
store/__pycache__/**.*.pyc
*.pyc
store/**/*.pyc
store/__pycache__/urls.cpython-311.pyc

loan/__pycache__/settings.cpython-311.pyc
loan/__pycache__/urls.cpython-311.pyc
loan/__pycache__/__init__.cpython-311.pyc
loan/__pycache__/wsgi.cpython-311.pyc
loan/__pycache__/**.*.pyc
*.pyc
loan/**/*.pyc
loan/__pycache__/urls.cpython-311.pyc


store/__pycache__/settings.cpython-311.pyc
store/__pycache__/urls.cpython-311.pyc
store/__pycache__/__init__.cpython-311.pyc
store/__pycache__/wsgi.cpython-311.pyc
store/__pycache__/**.*.pyc
*.pyc
store/**/*.pyc
store/__pycache__/urls.cpython-311.pyc

app/backends/__pycache__/__init__.cpython-311.pyc


# Python # 
*.py[cod] 
*$py.class 
*.pyc
__pycache__
celery_beat.log
celery.log
media
celerybeat-schedule
