.venv
.dockerignore
app/.env

**/*.pyc
**/*.pyo
**/*.mo
.git/
**/__pycache__/
***/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
*/__pycache__/

db.sqlite3
app/.env
app/.env
.DS_Store
.venv
__pycache__
*.pyc
__pycache__/

.env


# Python # 
*.py[cod] 
*$py.class 
*.pyc
__pycache__
celery_beat.log
celery.log
media
celerybeat-schedule
