version: "3.9"

services:
  db:
    image: postgres:15
    container_name: blog_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5444:5432"

  web:
    build: .
    container_name: blog_api
    command: >
      sh -c "python manage.py migrate &&
            gunicorn app.wsgi:application --bind 0.0.0.0:8000"
    volumes:
      - .:/app
    ports:
      - "8055:8000"
    depends_on:
      - db
    env_file:
      - .env

volumes:
  postgres_data:
